<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--web.xml中的shiroFilter-->
    <!--Shiro的web过滤器-->
    <bean id="shiroFilter"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--指定安全管理器-->
        <property name="securityManager" ref="securityManager"></property>

        <!--未通过认证时访问的地址 get请求-->
        <property name="loginUrl" value="/login"></property>

        <!--认证通过，但没有权限时访问的地址-->
        <property name="unauthorizedUrl" value="/unauthorized"></property>

        <!--配置filter-->
        <property name="filters">
            <map>
                <!--自定义Roles过滤器-->
                <entry key="roles">
                    <bean class="com.lc.shiro.realm.MyAuthorizationFilter" />
                </entry>
            </map>
        </property>
        <!--真正的filter,过滤链,由上至下,/**放最下面-->
        <property name="filterChainDefinitions">
            <value>
                /js/** = anon
                / = authc
                /unauthorized = anon
                /login = anon
                /logout = logout

                <!--角色方式授权-->
                /user/getList = roles[月之女祭司,银月骑士团前锋]

                <!--角色+权限方式授权,同时满足-->
                <!--/user/getList = roles[月之女祭司],perms[阅览]-->

                /user/delete = roles[月之女祭司]
                /** = authc
            </value>
        </property>
    </bean>

    <!--Shiro管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--注入自定义Realm-->
        <property name="realm" ref="myRealm"></property>
    </bean>

    <!--自定义realm,认证授权的管理-->
    <bean id="myRealm" class="com.lc.shiro.realm.MyRealm">
        <!--注入凭证匹配器-->
        <property name="credentialsMatcher" ref="credentialsMatcher"></property>
    </bean>

    <!--配置密码的散列 创建一个凭证匹配器-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <!--散列的方法-->
        <property name="hashAlgorithmName" value="MD5"></property>
        <!--散列的次数-->
        <property name="hashIterations" value="1024"></property>
        <!--加盐值-->
    </bean>
</beans>